/* Stile generale */
body {
    font-family: Arial, sans-serif;
    background-color: #B91550;
    margin: 0;
    padding: 0;
    color: white;
}

/* Titoli */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Container 1 (form di input) */
.container-1 {
    width: 600px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    color: black;
    border-radius: 10px;
}

.container-1 label {
    display: block;
    margin: 10px 0 5px;
}

.container-1 button {
    background-color: #B91550;
    color: white;
    border: none;
    cursor: pointer;
}

/* Container 2 (Risultato del biglietto)*/
.container-2 {
    width: 600px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    color: black;
    border-radius: 10px;
    text-align: center;
}
